<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>
   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated uschema -->
      <package
            uri="http://www.modelum.es/USchema"
            class="es.um.uschema.USchema.USchemaPackage"
            genModel="model/uschema.genmodel"/>
   </extension>
</plugin>
